.disabled {
  opacity: 0.4;
  cursor: default;
}
.display-none {
  display: none;
}

.not-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
         -o-user-select: none;
            user-select: none;
}

body {
    margin: 0;
    overscroll-behavior: contain;
}

section div {
  margin-bottom: 1em;
}
